<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzdysgLKLCSCy8mRQg05pQg5H1Hqfreyk</string>
	<key>GCM_SENDER_ID</key>
	<string>154945386773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.allTeckstack.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tree-app-project</string>
	<key>STORAGE_BUCKET</key>
	<string>tree-app-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154945386773:ios:46c452778e31e9a738511c</string>
</dict>
</plist>